@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    min-height: 50px;
    box-shadow: 2px 7px 5px rgba(0, 0, 0, 0.1);
}

.divvendedores {
    display: flex;

    gap: 10px;
    border: 1px solid rgba(2, 2, 2, 0.15);
    margin-top: 20px;
    padding: 0 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.divvendedores .textoprincipal {

    font-size: 20px;
    margin: 20px 0;
}

.fotovendedor {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.textosecundario {
   
}